@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  input,
  textarea,
  a {
    @apply transition-all;
  }

  html,
  body,
  #root {
    height: 100%;
  }

  .disable-highlight {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-tap-highlight-color: transparent;
  }

  .tabs-group-custom[role="tablist"] {
    flex-wrap: nowrap;
    border: 1px solid #e2e8f0;
    border-radius: 0.25rem 0.25rem;
    overflow-x: auto;
    width: 100%;
  }

  .tabs-group-custom div[role="tabpanel"] {
    display: none;
  }

  .tabs-group-custom button {
    padding: 0.25rem 0.25rem;
    border-radius: 0.25rem 0.25rem;
    flex: 1 1 auto;
    font-weight: normal;
    margin-left: 0 !important;
  }

  .tabs-group-custom-sm button {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }

  .tabs-group-custom button:focus {
    box-shadow: none !important;
  }

  @media screen and (max-width: 342px) {
    .hide-narrow-screen {
      display: none !important;
    }
  }

  @media screen and (max-width: 451px) {
    .tabs-group-custom button {
      font-size: smaller;
    }
  }
}
